<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm">

        <a href="/logout" class="ml-80 font-bold text-red-500 text-xl"><i
                class="fa-solid fa-right-from-bracket"></i></a>

        <div class="flex flex-col items-center">
            <img class="w-24 h-24 rounded-full shadow-lg mb-4" src="https://i.pinimg.com/736x/a0/16/54/a016541985391c7c0d06995ec9779ab4.jpg"
                alt="Profile Picture">
            <h2 class="text-2xl font-bold text-gray-900 mb-2">
                <%= user.name %>
            </h2>
            <p hidden class="text-gray-600 mb-4">Software Engineer</p>
            <div class="w-full text-center">
                <p class="text-gray-700 mb-2">@<%= user.username %>
                </p>
                <p class="text-gray-700 mb-2">
                    <%= user.email %>
                </p>
                <p class="text-gray-700 mb-2">
                    <%= user.age %>
                </p>
            </div>
            <div class="grid grid-cols-2 gap-x-3">
                <a href="/profile/update"><input type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" value="Edit Profile"></input>
                    </a>
                <a href="/post/create"><input type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
                        value="Create Post"></a>
                <a href="/post/view"><input type="button"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4"
                        value="Your Posts "></a>
            </div>
        </div>
    </div>
</body>

</html>